.home {
    background-image : url('../../assets/images/background-home.jpg');
    height: 750px;
    width: 100%;
    margin-top: -50px !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .statistical {
      text-align: center;
      color: white;
      margin-top: 20%;
      height: 20%;
    }
}
.search {
    height: 100%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}
.text-block-maxwidth {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35%;
    text-align: left;
    margin-top: 0px !important;
}
.landing-h1 {
    font-size: -webkit-calc(44/16 * 1em + 4 * (100vw - 1100px)/400);
    font-size: calc(44 / 16 * 1em + 4 * (100vw - 1100px) / 400);
}
.color-white-shadow {
    text-shadow: 2px 2px 5px rgba(0,0,0,.2);
    color: #fff;
}
.flex-shrink-0 {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.form-search {
    width: 80%;
    margin-left: auto;
    margin-top: 5%;
    margin-right: auto;
    .bt-search{
        border:  0 !important;
        color: #fff;
        height: 38px;
        width: 150%;
    }
    .input-search {
        height: 38px;
    }
}
#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }

  #infowindow-content .title {
    font-weight: bold;
  }

  #infowindow-content {
    display: none;
  }

  #map #infowindow-content {
    display: inline;
  }

  .pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
  }

  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }

  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }

  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }

  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }

  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }