$tim_mong_mo: #FF66FF;
$while: #fff;
$black : #000000;
$xanh_nhat: #00af9e;
.header {
    background: #3b5998 !important;
    margin-bottom : -1px !important;
    border: 0px;
    .container {
        margin-left: 5%;
        margin-right: 5%;
        width: 95%;
    }
    a {
        color: $while !important;
        height: 40px;
        &:hover {
            color: $tim_mong_mo !important;
            transition: all 0.5s ease-in-out;
        }
    }

    .open {
        a#basic-nav-dropdown {
            background-color: #2494bd!important;
        }
        
        // color: #fff!important;
        ul {
            a {
                background-color: #fff;
                color: #000 !important;

                &:hover {
                    color: #fff !important;
                    background-color: #33b5e5;
                }
            }
        }
    }
    
}
.span-myquestion {
    border-radius: .4rem;
    padding: 7px;
    color: $black !important;
    margin-top: -10px;
    &:hover{
        background-color: $xanh_nhat !important;
        border: 1px solid $xanh_nhat !important;
        transition: all 0.5s ease-in-out;
    }
}
.span-latest {
    border-radius: .4rem;
    padding: 7px;
    color: $while !important;
    margin-top: -10px;
    &:hover{
        background-color: $xanh_nhat !important;
        border: 1px solid $xanh_nhat !important;
        transition: all 0.5s ease-in-out;
    } 
}