.header {

    background: none !important;
    margin-bottom : -1px !important;
    border: 0px;
    border-bottom: 1px solid #FF66FF;
    .container {
        margin-left: 5%;
        margin-right: 5%;
        width: 95%;
    }
    a {
        color: #FF66FF !important;
        height: 40px;
        &:hover {
            color: rgba(0,0,0,.5) !important;
            transition: all 0.5s ease-in-out;
        }
    }

    .open {
        a#basic-nav-dropdown {
            background-color: #2494bd!important;
        }
        
        // color: #fff!important;
        ul {
            a {
                background-color: #fff;
                color: #000 !important;

                &:hover {
                    color: #fff !important;
                    background-color: #33b5e5;
                }
            }
        }
    }
    
}
.c-a-create  {
    color: #CC9933 !important;
}