// body {
//     font-size: 30px;
// }
.purple {
    background-color: #9900CC !important;
}
.violet {
    background-color: #EE82EE !important;
}
.grey {
    background-color: #eaeff3 !important;
}
.white {
    background-color: #ffffff !important;
}
.body-app {
    width: 100%;
    margin-top: 0px !important;
    border-top: 1px solid #EE82EE;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    color: #515e6d;
}
.cwhile {
    color: #ffffff !important;
}
.required {
    color : red;
}
.blue {
    color: #1D4077 !important;
  }
  .b-blue {
    background: #1D4077 !important;
  }
  .bd-blue {
    border:1px solid #1D4077 !important;
}
  .while {
    color: white !important;
  }
  .b-while {
    background: white !important;
  }
  .bd-while {
    border:1px solid white !important;
  }
  .green {
    color : #28B446 !important;
  }
  .b-green {
    background : #28B446 !important;
}
.bd-green {
    border:1px solid #28B446 !important;
}
.black {
    color : #000000 !important;
}
.b-black {
    background : #000000 !important;
}
.orange {
    color :#F14336 !important;
}
.b-orange {
    background :#F14336 !important;
}
.bd-orange {
    border:1px solid #F14336 !important;
}
.w-5 {
    width: 5%;
}
.w-15 {
    width: 15%;
}
.w-25 {
    width: 25%;
}
.w-35 {
    width: 35%;
}